<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>profile_servlet.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateName</servlet-name>
        <servlet-class>profile_servlet.UpdateName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>session_servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>session_servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RideSearch</servlet-name>
        <servlet-class>ride_booking.RideSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatesLockServlet</servlet-name>
        <servlet-class>date_select.DatesLockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>admin.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimingsServlet</servlet-name>
        <servlet-class>date_select.DeleteTimingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>profile_servlet.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>admin.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmail</servlet-name>
        <servlet-class>profile_servlet.UpdateEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateName</servlet-name>
        <url-pattern>/UpdateName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RideSearch</servlet-name>
        <url-pattern>/RideSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatesLockServlet</servlet-name>
        <url-pattern>/DatesLockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimingsServlet</servlet-name>
        <url-pattern>/DeleteTimingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmail</servlet-name>
        <url-pattern>/UpdateEmail</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
          index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
